{% extends 'base.html.twig' %}

{% block title %}Djangoud{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{ App.name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container mt-4">
    
        {{form_start(form)}}
            <div class="row mb-3 chd">
                    {{form_row(form.wordLanguage)}}
                    {{form_row(form.translateLanguage)}}
            </div>
            {# <div class="input-group">
                    <div class="input-group-prepend">
                        {{form_row(form.word)}}
                        <button class="input-group-text btn btn-primary"> #}
                            {# <button class="btn btn-primary">Chercher</button> #}
                        {# </button>
                    </div>
            </div> #}
            <div class="input-group mb-3">
                <div class="form-control"> {{form_row(form.word)}}</div>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
            
        {{form_end(form)}}
        
        <div class="row">
            <div id="results">
                <div class="def hide">Définition: <span class="data"></span></div>
                <div class="classe hide">Classe: <span class="data"></span></div>
                <div class="undefined hide text-danger">Définition introuvable</div>
            </div>
        {# {% if wordTranslate is defined and wordTranslate %}
            {% for  in wordTranslate %}
                
            {% endfor %}
            {{wordTranslate.word}}    

        {% endif %}
            {% for language in languages %}
                <div class="col-md-4">{{wordTranslate.word}}</div>
                {% for translate in language.translates %}
                    <div class="col-md-4">{{translate.word}}</div>    
                {% endfor %}
                
            {% endfor %}
         {% if wordTranslate is defined and wordTranslate %}
             {{wordTranslate.word}}    
        {% endif %}   #}
        </div>
    </div>
{% endblock %}
