{% extends 'base.html.twig' %}

{% block title %}{{ App.name }}{% endblock %}

{% block body %}

    <h1 class="center">Base de donnees de traduction</h1>
            
    <div class="cont mt-2">
    
            {{form_start(form)}}
                <div class="row">
                    <div class="input-field col offset-l1 s2">
                        {{ form_row(form.wordLanguage) }}
                    </div>
                    <div class="input-field col s2">
                        {{ form_row(form.translateLanguage) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-group col s7">
                        {{form_row(form.word)}}</div>
                        <div class="input-group-prepend col s0">
                            <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            {{form_end(form)}}

            <div class="container">
        
            <div id="results">
                <div class="def bs-hide">Traduction: <span class="data green-text"></span></div>
                <div class="classe bs-hide">Classe: <span class="data"></span></div>
                <div class="undefined bs-hide red-text">Mot introuvable</div>
            </div>
        </div>
        </div>
{% endblock %}
