{% extends 'base.html.twig' %}

{% block title %}Suggestion index{% endblock %}

{% block body %}
    <h1>Suggestion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SuggestedAt</th>
                <th>AcceptedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suggestion in suggestions %}
            <tr>
                <td>{{ suggestion.id }}</td>
                <td>{{ suggestion.suggestedAt ? suggestion.suggestedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ suggestion.acceptedAt ? suggestion.acceptedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('suggestion_show', {'id': suggestion.id}) }}">show</a>
                    <a href="{{ path('suggestion_edit', {'id': suggestion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('suggestion_new') }}">Create new</a>
{% endblock %}
