<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ App.name }}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# <div class="{% block main_container_class %}container{% endblock %}"> #}
            <nav>
                <div class="nav-wrapper">
                    <a class="brand-logo" href="{{ path('translation') }}">{{ App.name }}</a>
                      <a href="#" data-target="slideOut" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </nav>
       
            <div class="mai container-fluid">
                <div class="row mx-0 px-0">
                    <div class="col s3">
                        {% block sidebar %}
                            {# {% include "admin/sidebar.html.twig" %} #}
                        {% endblock %}
                    </div>
                    <div class="col s12 m8">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {# </div> #}
        
        <script src="{{ asset('js/jquery-1.11.2.min.js') }}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{{ asset('fontawesome/js/all.js') }}"></script>
        <script src="{{ asset('js/admin.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
