{% import _self as macros %}

{% macro addItem(url, title, icon, active_name, rounded0 = false) %}
    <a href="{{ path(url) }}"
        class="list-group-item list-group-item-action{% if active|default('home') == active_name %} active{% endif %} {% if rounded0 %}rounded-0{% endif %}">
        <i class="fa fa-{{ icon }}"></i>
        {{ title }}
    </a>
{% endmacro %}

{% if active is not defined %}
    {% set active = 'home' %}
{% endif %}

<div class="sidebar bg-dark">
    <div class="list-group">
        {{ macros.addItem('admin_index', 'Tableau de bord', 'tachometer-alt', 'home', true) }}
        {{ macros.addItem('admin_index', 'Utilisateurs', 'users', 'users') }}
        {{ macros.addItem('admin_index', 'Traduction', 'language', 'database', true) }}
    </div>
</div>