{{ form_start(form) }}
    <div class="form-group row">
        {% if form_errors(form.word) %}
        <div class="col-sm-12">
            <p class="alert alert-danger">
                {{ form_errors(form.word)|striptags }}
            </p>
        </div>
        {% endif %}
        <div class="col-sm-4">
            <label for="">Mot à ajouter</label>
        </div>
        <div class="col-sm-8">
          {{ form_widget(form.word, {attr: {class: 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        {% if form_errors(form.classe) %}
        <div class="col-sm-12">
            <p class="alert alert-danger">
                {{ form_errors(form.classe)|striptags }}
            </p>
        </div>
        {% endif %}
        <div class="col-sm-4">
            <label for="">Classe</label>
        </div>
        <div class="col-sm-8">
          {{ form_widget(form.classe, {attr: {class: 'form-control'}}) }}
        </div>
    </div>

    <div
        id="form-translates"
        data-prototype="{{ form_widget(form.translates.vars.prototype)|e }}"
        data-widget-tags="{{ "<div id=\"translate_translates\"></div>"|e }}"
        data-widget-counter="{{ form.translates|length }}"
        >
    </div>

    <div class="row my-5 mx-0">
        <button type="button" class="add-translation btn btn-primary btn-sm" data-list-selector="#form-translates">
            <i class="fa fa-plus"></i> Ajouter une traduction du mot
        </button>
    </div>

    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Enregistrer</button>
{{ form_end(form) }}