<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ App.name }}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# <div class="{% block main_container_class %}container{% endblock %}"> #}
            <nav>
                <div class="nav-wrapper">
                    <a class="brand-logo" href="{{ path('translation') }}">{{ App.name }}</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin_index') }}">Administration</li>
                            {% endif %}
                            
                            <li><a href="{{ path('history_index') }}">Historique</a></li>
                            <li><a href="{{ path('suggestion_index') }}">Suggestion</a></li>
                            <li><a href="{{ path('logout') }}">Se deconnecter</a></li>
                        {% else %}
                            <li><a href="{{ path('register') }}">S'inscrire</a></li>
                            <li><a href="{{ path('login') }}">Se connecter</a></li>                            
                        {% endif %}                    
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_index') }}">Administration</li>
                    {% endif %}                    
                    <li><a href="{{ path('history_index') }}">Historique</a></li>
                    <li><a href="{{ path('suggestion_index') }}">Suggestion</a></li>
                    <li><a href="{{ path('logout') }}">Se deconnecter</a></li>
                {% else %}
                    <li><a href="{{ path('register') }}">S'inscrire</a></li>
                    <li><a href="{{ path('login') }}">Se connecter</a></li> 
                {% endif %}
            </ul>
        {% block body %}{% endblock %}
        
        {# </div> #}
        <script src="{{ asset('js/jquery-1.11.2.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ asset('fontawesome/js/all.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
