{% extends 'base.html.twig' %}

{% block title %}Votre historique de recherche{% endblock %}

{% block body %}
    <h1 class="my-4 text-primary">
        <i class="fa fa-history"></i>
        Votre historique de recherche
    </h1>

    {% if histories %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Mot cherché</th>
                <th>Traduction</th>
                <th>Date cherchée</th>
                <th>Statut</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody class="histories">
        {% for history in histories %}
            {% set memorized = history.isMemorised %}
            <tr data-status-update-url="{{ path('history_update_status', {id: history.id}) }}">
                <td>{{ loop.index }}</td>
                <td>{{ history.source.word }} <span class="badge badge-dark">{{ history.source.language }}</span></td>
                <td>{{ history.target.word }} <span class="badge badge-info">{{ history.target.language }}</span></td>
                <td>{{ history.searchedAt ? history.searchedAt|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <label class="text-{{ memorized ? 'success' : 'default' }}" data-memorized="Memorisé" data-not-memorized="Non memorisé" for="history-{{ history.id }}">
                        {{ memorized ? 'Memorisé' : 'Non memorisé' }}
                    </label>
                    <input type="checkbox" {% if memorized %}checked{% endif %} class="custom-checkbox" id="history-{{ history.id }}">
                </td>
                {# <td>
                    <a href="{{ path('history_show', {'id': history.id}) }}">Afficher</a>
                    <a href="{{ path('history_edit', {'id': history.id}) }}">Supprimer</a>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="alert alert-info">Votre historique de recherche est vide.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        (function ($) {
            var inputs = $('.histories input[type="checkbox"]');
            let currentRequest = null;
            
            inputs.each(function() {
                const input = $(this);
                const label = input.parent().find('label');

                input.change(function(){
                    const isMemorized = input.is(':checked');
                    
                    currentRequest = $.ajax({
                        url: input.parent().parent().data('status-update-url'),
                        method: "POST",
                        dataType: 'JSON',
                        data: {isMemorized},

                        beforeSend: function() {
                            if(currentRequest) {
                                currentRequest.abort();
                            }
                        }
                    })
                    .done(function(data) {
                        if(data === true) {
                            label.text(label.data(`${!isMemorized ? 'not-' : ''}memorized`));
                            if(isMemorized) {
                                label.removeClass('text-default').addClass('text-success');
                            } else {
                                label.removeClass('text-success').addClass('text-default');
                            }
                        } else {
                            console.log(data);
                        }
                    })
                    .fail(function(data) {
                        console.log(data);
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}