{% extends 'base.html.twig' %}

{% block title %}Progression{% endblock %}

{% block body %}
    <h4 class="blue-text">
        <i class="fa fa-chart-line"></i>
        Votre progression
    </h4>

    {% if histories %}

    <ul class="collection with-header">
        <li class="collection-header">
            <div class="progress">
                <div class="determinate blue" style="width: {{ app.user.progression }}%"></div>
            </div>
        </li>
        <li class="collection-item">
            <div>Nombre de mots memorisés<a href="#!" class="secondary-content"><span class="badge new" data-badge-caption="{{ app.user.histories.count }}"></span></a></div>
        </li>
        <li class="collection-item">
            <div>Nombre de mots cherchés<a href="#!" class="secondary-content"><span class="badge new grey" data-badge-caption="{{ app.user.memorized }}"></span></a></div>
        </li>
    </ul>

    <table class="highlight">
        <thead>
            <tr>
                <th>#</th>
                <th>Mot cherché</th>
                <th>Traduction</th>
                <th>Date cherchée</th>
                <th>Statut</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody class="histories">
        {% for history in histories %}
            {% set memorized = history.isMemorised %}
            <tr data-status-update-url="{{ path('history_update_status', {id: history.id}) }}">
                <td>{{ loop.index }}</td>
                <td>
                    {{ history.source.word }}
                    <span class="new badge blue" data-badge-caption="{{ history.source.language }}"></span>
                </td>
                <td>
                    {{ history.target.word }}
                    <span class="new badge" data-badge-caption="{{ history.target.language }}"></span>
                </td>
                <td>{{ history.searchedAt ? history.searchedAt|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <label>
                        <input type="checkbox" {% if memorized %}checked="checked"{% endif %} />
                        <span class="{{ memorized ? 'green' : 'black' }}-text" >Memorisé</span>
                    </label>
                </td>
                {# <td>
                    <a href="{{ path('history_show', {'id': history.id}) }}">Afficher</a>
                    <a href="{{ path('history_edit', {'id': history.id}) }}">Supprimer</a>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="alert alert-info">Vous n'avez pas encore cherché de mots.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        (function ($) {
            var inputs = $('.histories input[type="checkbox"]');
            let currentRequest = null;
            
            inputs.each(function() {
                const input = $(this);
                const label = input.parent().find('span');

                input.change(function(){
                    const isMemorized = input.is(':checked');
                    
                    currentRequest = $.ajax({
                        url: input.parent().parent().parent().data('status-update-url'),
                        method: "POST",
                        dataType: 'JSON',
                        data: {isMemorized},

                        beforeSend: function() {
                            if(currentRequest) {
                                currentRequest.abort();
                            }
                        }
                    })
                    .done(function(data) {
                        if(data.success === true) {
                            if(isMemorized) {
                                label.removeClass('black-text').addClass('green-text');
                            } else {
                                label.removeClass('green-text').addClass('black-text');
                            }
                            $('.progress .determinate').attr('style', `width: ${data.progression}%;`);
                        } else {
                            console.log(data);
                        }
                    })
                    .fail(function(data) {
                        console.log(data);
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}