{% extends 'base.html.twig' %}

{% block title %}History index{% endblock %}

{% block body %}
    <h1>History index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SearchedAt</th>
                <th>IsMemorised</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for history in histories %}
            <tr>
                <td>{{ history.id }}</td>
                <td>{{ history.searchedAt ? history.searchedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ history.isMemorised ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('history_show', {'id': history.id}) }}">show</a>
                    <a href="{{ path('history_edit', {'id': history.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('history_new') }}">Create new</a>
{% endblock %}
